header, footer {
    background-color: teal;
}

nav {
    max-width: 1000px;
    margin: 0 auto;
    text-align: center;
}

nav a {
    color: white;
    padding: 10px;
    font-size: 22px;
    text-decoration: none;
}

nav a:hover {
    color: mediumturquoise;
}

main {
    max-width: 1000px;
    margin: 0 auto;
}

h1, h2 {
    color: teal;
}

table {
    max-width: 1200px;
    margin: 0 auto;
    color: teal;
    font-size: 20px;
    text-align: center;
    padding: 20px;
}
 
th {
    background-color: hsla(180, 96%, 33%, 0.267);
    color: teal;
    font-weight: bold;
    padding: 15px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}
 
#table-title {
    font-size: 30px;
    font-family: 'Dancing Script', cursive;
    background-color: hsl(180, 50%, 25%);
    color: white;
}
 
table img {
    width: 400px;
 /*   margin: 15px; */
}
 
.country-a {
    background-color: hsla(180, 95%, 25%, 0.3);
}
 
.country-b {
    background-color: hsla(180, 75%, 55%, 0.3);
}
 
td {
    margin: 10px;
}
