nav ul {
	margin: 0;
	padding: 0;
	overflow: hidden;
	background-color: #0cabb6;
	
}
nav li {
	display: inline-block;
	border: 10px;
	width:100%;
}

li a {
	display: block;
	color: white;
	text-align: center;
	padding: 30px 30px;
	text-decoration: none;
}

li a:hover {
	background-color: rgb(15, 1, 65);
}
h1 {
	font-family: Verdana, Geneva, Tahoma, sans-serif;
	text-align: center;
}
body{
	background-image: url(https://images.pexels.com/photos/531880/pexels-photo-531880.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1);
	color: white;
	width:auto;
}