nav ul {
	margin: 0;
	padding: 0;
	overflow: hidden;
	background-color: #8274c0;
	
}
nav li {
	display: inline-block;
	border: 10px;
	width:100%;
}

li a {
	display: block;
	color: white;
	text-align: center;
	padding: 30px 30px;
	text-decoration: none;
}

li a:hover {
	background-color: rgb(15, 1, 65);
}
h1 h3 {
	font-family: Georgia, 'Times New Roman', Times, serif}